@media screen and (min-width: 1280px) {
    .img_39{
        background: url(../img/icon/1920px/imgIco39.png);
    }
    .img_37{
        background: url(../img/icon/1920px/imgIco37.png);
    }
    .img_55{
        background: url(../img/icon/1920px/imgIco55.png);
    }
    .img_35{
        background: url(../img/icon/1920px/imgIco35.png);
    }
    .img_42{
        background: url(../img/icon/1920px/imgIco42.png);
    }
    .img_38{
        background: url(../img/icon/1920px/imgIco38.png);
    }
    .img_43{
        background: url(../img/icon/1920px/imgIco43.png);
    }
    .img_41{
        background: url(../img/icon/1920px/imgIco41.png);
    }
    .img_40{
        background: url(../img/icon/1920px/imgIco40.png);
    }
    .img_36{
        background: url(../img/icon/1920px/imgIco36.png);
    }
    .img_1{
        background: url(../img/icon/1920px/imgIco1.png);
    }
    .img_2{
        background: url(../img/icon/1920px/imgIco2.png);
    }
    .img_3{
        background: url(../img/icon/1920px/imgIco3.png);
    }
    .img_4{
        background: url(../img/icon/1920px/imgIco4.png);
    }
    .img_5{
        background: url(../img/icon/1920px/imgIco5.png);
    }
    .img_6{
        background: url(../img/icon/1920px/imgIco6.png);
    }
    .img_7{
        background: url(../img/icon/1920px/imgIco7.png);
    }
    .img_8{
        background: url(../img/icon/1920px/imgIco8.png);
    }
    .img_9{
        background: url(../img/icon/1920px/imgIco9.png);
    }
    .img_11{
        background: url(../img/icon/1920px/imgIco11.png);
    }
    .img_12{
        background: url(../img/icon/1920px/imgIco12.png);
    }
    .ico_img{
        width: 80px;
        height: 80px;
        flex-shrink: 0;
    }
    .section__1920px{
        gap: 16px;
    }
    .ico_conteiner{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .ico_wrapper {
        margin: 32px 208px 64px 208px;
        height: auto;
    }
    .ico_block:nth-child(5) {
        flex-direction: row-reverse;
        gap: 102px;
    }
    .ico_block:nth-child(4) {
        gap: 102px;
    }
    .ico_block:nth-child(2) {
        padding-left: 37px;
        gap: 106px;
    }
}