@media screen and (min-width: 768px) {
    .ico_block {
        display: flex;
        flex-direction: row;
        gap: 0;
    }
    .section__768px{
        gap: 16px;
    }
    .ico_wrapper {
        width: auto;
        height: auto;
        flex-shrink: 0;
        margin: 32px 0px 48px 40px;
    }

    .ico_block:nth-child(1) {
        gap: 73px;
    }
    .ico_block:nth-child(2) {
        gap: 31px;
    }
    .ico_block:nth-child(3) {
        gap: 78px;
    }
    .ico_block:nth-child(4) {
        gap: 26px;
    }
    .ico_block:nth-child(5) {
        gap: 75px;
    }
    
    .ico_img{
        width: 64px;
        height: 64px;
        flex-shrink: 0;
    }
    .img_39{
        background: url(../img/icon/768px/imgIco39.png);
    }
    .img_37{
        background: url(../img/icon/768px/imgIco37.png);
    }
    .img_55{
        background: url(../img/icon/768px/imgIco55.png);
    }
    .img_35{
        background: url(../img/icon/768px/imgIco35.png);
    }
    .img_42{
        background: url(../img/icon/768px/imgIco42.png);
    }
    .img_38{
        background: url(../img/icon/768px/imgIco38.png);
    }
    .img_43{
        background: url(../img/icon/768px/imgIco43.png);
    }
    .img_41{
        background: url(../img/icon/768px/imgIco41.png);
    }
    .img_40{
        background: url(../img/icon/768px/imgIco40.png);
    }
    .img_36{
        background: url(../img/icon/768px/imgIco36.png);
    }

}